.exemple {
  background-color: aquamarine;
  color: black;
  height: 50px;
  width:  1200px;
  
  /* overflow: visible (default); */
  /* overflow: hidden; (hid elements overflowed) */
  /* overflow: scroll; (with scroll bar) */
  overflow: auto;

}

body {
  overflow-y: hidden;
}