.img1:hover {
  opacity: 0.9;
}

.img2 {
  opacity: 0.7;
}

.img3 {
  opacity: 0.3;
}

a.button {
  padding: 15px;
  background-color: green;
  color: white;
  text-decoration: none;

}

a.button:hover {
  opacity: 0.9;
}